<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>All users of Library</title>
    <link th:href="@{/styles/css/main.css}" rel="stylesheet">
</head>
<body>
<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getName() + ', ' + person.getYearOfBirth()}">User</a>
</div>
<br>
<hr>
<a th:href="@{/people/new}"><input type="submit" value="Add new person"></a>
<br><br>
<a th:href="@{/books}"><input type="submit" value="To the Books list"></a>
</body>
</html>

