<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    a {
        text-decoration: none;
        line-height: 1.2
    }

    a {
        color: #000000;
    }

    a:visited {
        color: #000000;
    }

    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 10px;
        border-radius: 4px;
        border: 1px;
        cursor: pointer;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>All books in the Library</title>
</head>
<body>
<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getName() + ', '+ book.getAuthor() + ', '+ book.getYear_of_publish()}">Book</a>
</div>
<br>
<hr>
<a th:href="@{/books/new}"><input type="submit" value="Add new book"></a>
<br><br>
<a th:href="@{/people}"><input type="submit" value="To the Users list"></a>
</body>
</html>