<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users of Library</title>
    <link th:href="@{/styles/css/bootstrap.min.css}" rel="stylesheet">
    <script src="js/script.js"></script>
</head>
<style>
    .container-full-height {
        min-height: 100vh;
    }

    .btn-no-hover {
        box-shadow: none !important;
    }
</style>
<body>

<!-- -------------------- NAVIGATION TOOLBAR START -------------------- -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid d-flex justify-content-between text-light">
        <span class="fw-bold">Hello, Admin!</span>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form th:action="@{/logout}" th:method="POST">
                        <button type="submit" class="btn btn-outline-secondary btn-no-hover ms-3">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- -------------------- NAVIGATION TOOLBAR END -------------------- -->

<!-- -------------------- MAIN DIV START -------------------- -->
<div class="row">
    <div class="container-fluid ">
        <div class="row">


            <!-- -------------------- SIDE MENU BOOKS / READERS START -------------------- -->
            <div class="col-2 text-dark d-flex flex-column container-full-height">
                <div class="list-group list-group-flush mt-2">
                    <a href="/books" class="list-group-item list-group-item-action" role="button">Books</a>
                    <a href="/readers" class="list-group-item list-group-item-action active" role="button">Readers</a>
                </div>
            </div>
            <!-- -------------------- SIDE MENU BOOKS / READERS END -------------------- -->


            <!-- -------------------- MAIN PART START -------------------- -->
            <div class="col-10 bg-light d-flex flex-column container-full-height mt-2">


                <!-- -------------------- NAVIGATION TAB LIST START -------------------- -->
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home">All readers
                        </button>
                        <button class="nav-link"
                                id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                                type="button" role="tab" aria-controls="nav-profile">Add new reader
                        </button>
                    </div>
                </nav>
                <!-- -------------------- NAVIGATION TAB LIST END -------------------- -->


                <!--                <div class="tab-content" id="nav-tabContent">-->
                <!--                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">-->


                <!-- -------------------- PAGINATION AND SORT DIV START -------------------- -->
                <!--                        <div class="btn-toolbar mt-2" role="toolbar" aria-label="Toolbar with button groups">-->
                <!--                            <div class="btn-group" role="group" aria-label="First group">-->
                <!--                                <button type="button" class="btn btn-outline-dark disabled">Choose the page:</button>-->
                <!--                                <form th:each="page, pageNumber : ${#numbers.sequence(0, (lines - 1) / 5)}"-->
                <!--                                      th:method="GET"-->
                <!--                                      th:action="@{/readers/pages/{pageNumber}(pageNumber=${page})}"-->
                <!--                                      class="btn-group ms-0"-->
                <!--                                      role="group">-->
                <!--                                    <input type="hidden" name="byYear" th:value="${byYearValue}">-->
                <!--                                    <button type="submit" class="btn btn-outline-primary"-->
                <!--                                            th:value="${page + 1}"-->
                <!--                                            th:text="${page + 1}"/>-->
                <!--                                </form>-->
                <!--                                <form th:method="GET" th:action="@{/readers}"-->
                <!--                                      class="btn-group ms-0"-->
                <!--                                      role="group">-->
                <!--                                    <input type="hidden"-->
                <!--                                           name="byYear"-->
                <!--                                           th:value="${byYearValue}">-->
                <!--                                    <button type="submit"-->
                <!--                                            class="btn btn-outline-primary">Show all-->
                <!--                                    </button>-->
                <!--                                </form>-->
                <!--                            </div>-->
                <!--                            <div class="btn-group ms-2" role="group" aria-label="Second group">-->
                <!--                                <button type="button" class="btn btn-outline-dark disabled">Sorted by:</button>-->
                <!--                                <form th:method="GET"-->
                <!--                                      th:action="@{/readers}"-->
                <!--                                      class="btn-group ms-0"-->
                <!--                                      role="group">-->
                <!--                                    <input type="hidden" name="byYear" value="false">-->
                <!--                                    <button type="submit"-->
                <!--                                            class="btn btn-outline-primary"-->
                <!--                                            onclick="setByYear(false)">ID-->
                <!--                                    </button>-->
                <!--                                </form>-->
                <!--                                <form th:method="GET"-->
                <!--                                      th:action="@{/readers}"-->
                <!--                                      class="btn-group ms-0"-->
                <!--                                      role="group">-->
                <!--                                    <input type="hidden" name="byYear" value="true">-->
                <!--                                    <button type="submit"-->
                <!--                                            class="btn btn-outline-primary"-->
                <!--                                            onclick="setByYear(true)">Year of birth-->
                <!--                                    </button>-->
                <!--                                </form>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!-- -------------------- PAGINATION AND SORT DIV END -------------------- -->

                <!-- -------------------- BOOK LIST MODAL DIV START -------------------- -->
                <div class="modal fade" id="bookListModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Book list</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body col-10 mx-auto text-center">
                                <form id="form-bookList">
                                    <div hidden="hidden">
                                        <label class="form-label fw-bold mb-1 mt-3" for="bookList-id">ID</label>
                                        <input class="form-control" id="bookList-id" type="text" name="id">
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Author</th>
                                        </tr>
                                        </thead>
                                        <tbody id="readerBooksTableBody">
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" id="bookList-close" type="button"
                                        data-bs-dismiss="modal">Close
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- -------------------- BOOK LIST MODAL DIV END -------------------- -->


                <!-- -------------------- EDIT MODAL DIV START -------------------- -->
                <div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit reader</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body col-6 mx-auto text-center">
                                <form id="form-edit" class="needs-validation" novalidate>
                                    <div hidden="hidden">
                                        <label class="form-label fw-bold mb-1 mt-3" for="edit-id">ID</label>
                                        <input class="form-control" id="edit-id" type="text" name="id">
                                    </div>
                                    <div>
                                        <label class="form-label fw-bold mb-1 mt-3" for="edit-name">Name Surname</label>
                                        <input class="form-control" id="edit-name" type="text" name="name" required>
                                        <div class="invalid-feedback">
                                            Name and Surname should not be empty
                                        </div>
                                    </div>
                                    <div>
                                        <label class="form-label fw-bold mb-1 mt-3"
                                               for="edit-yearOfBirth">Year of birth</label>
                                        <input class="form-control" id="edit-yearOfBirth" type="text" name="yearOfBirth"
                                               required>
                                        <div class="invalid-feedback">
                                            Year of birth should not be empty
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" id="edit-close" type="button"
                                        data-bs-dismiss="modal">Close
                                </button>
                                <button class="btn btn-danger" id="edit-submit" type="submit" form="form-edit">
                                    Edit
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- -------------------- EDIT MODAL DIV END -------------------- -->


                <!-- -------------------- DELETE MODAL DIV START -------------------- -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete reader</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body col-8 mx-auto text-center">
                                <form id="form-delete">
                                    <div hidden="hidden">
                                        <label class="form-label fw-bold mb-1 mt-3" for="delete-id">ID</label>
                                        <input class="form-control" id="delete-id" type="text" name="id">
                                    </div>
                                    <h5><span id="delete-name" class="form-text"></span></h5>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" id="delete-close" type="button"
                                        data-bs-dismiss="modal">No
                                </button>
                                <button class="btn btn-danger" id="delete-submit" type="submit"
                                        form="form-delete">
                                    Yes
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- -------------------- DELETE MODAL DIV END -------------------- -->


                <!-- -------------------- NEW READER DIV START -------------------- -->
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                         aria-labelledby="nav-profile-tab">
                        <h5 class="mt-2">Please provide information for a new reader</h5>
                        <div class="col-md-6">
                            <form id="newReaderForm" class="needs-validation" novalidate>
                                <div class="form-group">
                                    <label for="name">Name Surname</label>
                                    <input type="text" class="form-control" id="name" required>
                                    <div class="invalid-feedback">
                                        Name and Surname of reader should not be empty
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="yearOfBirth">Year of birth</label>
                                    <input type="number" min="1900" class="form-control" id="yearOfBirth"
                                           required>
                                    <div class="invalid-feedback">
                                        Year of birth should be greater than 1900
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success mt-2">Add new reader</button>
                            </form>
                        </div>
                    </div>
                    <!-- -------------------- NEW READER DIV END -------------------- -->


                    <!-- -------------------- TABLE DIV START -------------------- -->

                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name Surname</th>
                                <th class="text-center align-middle">Year of birth</th>
                                <th class="text-center align-middle">Booklist</th>
                                <th class="text-center align-middle">Edit</th>
                                <th class="text-center align-middle">Delete</th>
                            </tr>
                            </thead>
                            <tbody id="readersTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- -------------------- TABLE DIV END -------------------- -->

            </div>
            <!-- -------------------- MAIN PART END -------------------- -->
        </div>
    </div>
</div>
<!-- -------------------- MAIN DIV END -------------------- -->

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/validation.js}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/readers.js}"></script>
</body>
</html>

